version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: backenddb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_ui
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_api
    restart: always
    ports:
      - "5022:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
          - ASPNETCORE_URLS=http://+:8080
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=backenddb;Username=postgres;Password=postgres123
    depends_on:
      - postgres

volumes:
  postgres_data:
